#project{
    background-color: lightblue;
}
.softskills{
    background-color: bisque;
}
#internship{
    background-color: lightblue;
}
h3{
    background-color: black;
    color: white;
}
#certifications{
    background-color: bisque;
}